body{

border: 3px black solid;
/*background-color:rgb(150, 120,50)*/;
background-image: linear-gradient(rgba(0,0,0,0.7), rgba(126, 155, 189, 0.5)), url(../image/image.jpg);
/* opacity: 0.5; */
}
.jumbotron{
    margin-top: 10px;
    /* background-color:rgb(150, 120,50); */
}


form{
    background-color: antiquewhite;
    padding: 20px;
    padding-left: 80px;
    line-height: 10px;
    margin-top: 50px;
    height: 200px;
    width: 800px;
    margin-left: 200px;

}
#display,#gender,input{
    text-align: center;
}
label{
    padding: 20px
}

h1,p{
    color:black;
}
.col-md-4{
    font-size: 20px;
    margin-top: 10px;
    /* background-color: rgb(150, 120,50); */
    color: #50c724e3;
}
p{
    font-size: 20px;  
}
h2{
margin-left: 5px;
}
.jumbotron{
    padding-top: 5px;
    padding-bottom: 5px;
}
.btn btn-success{
    margin: auto;
    margin-left: 50px;
}
.footer-area-bottom{
    border:0px black solid;
    background-color: #f1f1f1f1;
    margin-top: 6px;
    padding-top: 10px;
}